#mapid { height: 700px; }

@font-face {
  font-family: tie;
  src: url(tie2.otf);
}

@font-face {
  font-family: tie;
  unicode-range: U+2010-U+2010;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
  padding-top: 0;
    width: 80%;
    left: 0;
}

.right {
    width: 20%;
    right: 0;
}

.arvattava {
  text-align: left;
  font-family: tie, sans-serif;
  background-color: white;
  color: black;
  margin: 15px 15px 15px 15px;

}

.options {
  margin: 20% 10px 10px 10px;
}

.oikeat {
  margin-left: 10px;
  color: darkgreen;
}

.vaarat {
  margin-left: 10px;
  color: darkred;
}

.center {
  text-align: center;
}