#mapid { height: 100vh; }

@font-face {
  font-family: tie;
  src: url(tie2.otf);
}

@font-face {
  font-family: tie;
  unicode-range: U+2010-U+2010;
}

* {
  margin:0;
  padding:0;
  border:0;
}


.skippinappi {
  margin-left: 10px;
  margin-bottom: 15px;
}

.nappi {
  outline: none;
  background-color: #9FC9EB;
  border: none;
  color: black;
  padding: 4px 10px;
  margin: 2px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.nappi2 {
  background-color: #00D7A7;
}

.nappi:hover {
  background-color: #0072C6;
  color: white;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
}

.vasen {
  width: 71%;
  left: 0;
  float: left;
}

.oikea {
    width: 29%;
    right: 0;
    float: right;
}

.arvattava {
  text-align: left;
  font-family: tie, sans-serif;
  font-size: 1.5vw;
  background-color: white;
  color: black;
  margin: 15px 15px 15px 15px;
  word-spacing: -.3ch;
}

.options {
  margin: 20% 10px 20px 10px;
}

.oikeat {
  margin-left: 10px;
  color: #009246;
  font-family: sans-serif;
}

.vaarat {
  margin-left: 10px;
  color: #BD2719;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-size: 1.5vw;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .vasen {
    float: right;
    width: 100%;
    margin-top: 10px;
  }

  .oikea {
    float: none;
    width: 100%;
    height: 100px;
  }
  .options {
    margin: 0px 0px 0px 0px;
    float:right;
    width:30%;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .boxi1 {
    float: left;
    width: 40%;
  }
  .boxi2 {
    float: left;
    width: 30%;
  }

  .arvattava {
    font-size: 3vw;
    background-color: white;
    color: black;
    margin: 10px 10px 10px 10px;
    word-spacing: -.3ch;
  }
  h3 {
    margin-top: 0px;
    font-size: 2.5vw;
  }
  #mapid { height: 500px; }
  .nappi {
    margin: 1px 1px;
    padding: 2px 6px;
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 500px) {
    #mapid { height: calc(100vh - 120px); }